<!DOCTYPE html>
<html>
<head>
<th:block th:include="include/head" />
<script>
	$(function() {
		$(document).on("click", "button", function() {
			let text = $(this).text()
			if (text == "JOIN") {
				document.location.href = "/user/join"
			}
		})
	})
</script>
</head>
<body>
	<div class="jumbotron">
		<h1 class="text-color">HERE LOGIN FORM</h1>
	</div>
	<nav th:replace="include/layout :: nav" />

	<form th:action="@{login}" method="POST">
		<!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"> -->
		<div class="big-box">
			<div>
				<label class="input-color"> USERNAME</label> <input name="username">
			</div>
			<div>
				<label class="input-color"> PASSWORD</label> <input name="password"
					type="password">
			</div>
			<div>
				<button class="btn-color">LOGIN</button>
				<button class="btn-color" id="join" type="button">JOIN</button>
			</div>
		</div>
	</form>
	<footer th:replace="include/layout :: footer" />
</body>
</html>